@model Vidly.Models.Movie

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<hr />
<h3>@Model.Name</h3>
<ul>
    <li>Genre :@Model.Genres.Name</li>
    <li>Realese Date :@Model.ReleaseDate</li>
    <li>Date Added :@Model.DateAdded</li>
    <li>Number in Stock :@Model.NumberInStock</li>
    
</ul>
