@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
<hr />
<p>
    @Html.ActionLink("New Customer", "New", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered">
    <thead>
        <th> Customer Name</th>
        <th> Discount Rate</th>
    </thead>

    @foreach (var customer in Model.ToList())
    {
        <tr>
            <td>@Html.ActionLink(customer.Name,"Edit","Customers",new {id =customer.Id },null)</td>
            <th>@customer.MembershipType.Name</th>
        </tr>
    }
</table>